* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* font-family: halyard-display,sans-serif;
    font-weight: 700;
    font-style: normal; */

    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}