*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --cir-dark: #0D0D0D;
    --cir-ligh: #fff;
    --cir-accent:#B30300 ;
    --cir-accent-Dark: #401000;
    --cir-secondary: #0540F2;
}
body {
    /* font-family: halyard-display,sans-serif;
    font-weight: 700;
    font-style: normal; */
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    background: var(--cir-dark);
    color: var(--cir-ligh);
}
h1,
h2,
h3,
p {
    margin: 0;
}
img {
    max-width: 100%;
}
.game {
    position: relative;
    width: 12.5rem;
}
.streamers {
    display: flex;
}
.streamers img {
    object-fit: cover;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}.streamers img:nth-of-type(1){
    transform: translateX(25%);
}
.streamers img:nth-of-type(2){
    transform: translateX(50%);
}
.front .name {
text-align: center;
font-family: halyard-display,sans-serif;
font-weight: 700;
font-style: normal;
margin: .75em 0;
}
.front .stats {
display: flex;
justify-content: space-between;
border: 1px solid var(--cir-dark);
align-items: center;
}
.front img {
    border: 1px solid var(--cir-dark);
    
}
.back {
    display: none;
}