*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   :root {
   
       --tipo1: font-family: komu-a,sans-serif;
       font-weight: 400;
       font-style: normal;
       --tipo2: font-family: poster-gothic-excond-atf,sans-serif;
       font-weight: 400;
       font-style: normal;
       --color1: #0540F2;
       --color2: #0583F2;
       --color3: #0D0D0D;
       --color4: #fff;
       --color5: rgb(211, 209, 209);
       --gradient-color: linear-gradient( rgb(#0540F2), rgb(#0D0D0D));
   }
   .slider {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100vh;
       background: var(--color2);  
       z-index: -1;
    }
    nav {
        display: grid;
        grid-template-columns: 10% 1fr 1fr 10%;
        min-height: 10vh;
        color: var(--color4);
        align-items: center;
    }
    .logo {
        grid-column: 2/3;
        font-size: 24px;
    }

    .hero img {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
    }