* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color1: #0540F2;
       --color2: #0583F2;
       --color3: #0D0D0D;
       --color4: #fff;
       --color5: rgb(211, 209, 209);
       --gradient-color: linear-gradient( rgb(#0540F2), rgb(#0D0D0D));
}
body {
    font-family: poster-gothic-excond-atf,sans-serif;
       font-weight: 400;
       font-style: normal;
}
.intro {
    display: flex;
    color: var(--color4);
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/blake-connally-B3l0g6HLxr8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.typing {
    margin-left: 10px;
    position: relative;
}
.typing::after {
    content: "";
    position: absolute;
    right: -10px;
    width: 1px;
    height: 5%;
    border-right: 2px solid #fff;
    animation: blin1 0.5s infinite ease;
}

@keyframes blin1 {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}