* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    font-size: 15px;
    
    font-family: mentone,sans-serif;
    font-weight: 400;
    font-style: normal;

   /*  font-family: fairway,sans-serif;
    font-weight: 800;
    font-style: normal; */
}
a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}
section {
    padding: 10rem 0;
    background-color: #fff;
}
.heading {
    font-family: fairway,sans-serif;
    font-weight: 800;
    font-style: bold;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative; 
}
.heading::after {
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}
.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.card {
    width: 32rem;
    background-color: #abeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    border-radius: 5px;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}
.card .card-img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 57%, 0% 100%);
    clip-path:polygon(0 0, 100% 0, 100% 57%, 0% 100%);
    border-radius: 5px;
}
.profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #abeef8;
}
/* img {
    width: 500px;
    height: 500px;
} */
.card h1 {
    font-family: fairway,sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}
.job-title {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: fairway,sans-serif;
    font-weight: 600;
    font-style: normal;
}
 .about {
    font-family: mentone,sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    color: #333;
} 
.card .btn {
    padding: 1rem 2.5rem;
    background-color: #fff;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #abeef8;
    font-size: 1.4rem;
    transition: all;
}
.card .btn:hover {
    color: #fff;
    background-color: #0cdafa;
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
}
.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}
.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top:2.5rem;
    margin-bottom: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.social-media a {
    margin: 5px;
    padding: 5px;
}
.social-media i {
    font-size: 3rem;
    border-radius: 5px;
}
.fa-facebook-square {
    color: #3b5999;
}
.fa-twitter-square {
  color: #55acee;
}
.fa-instagram-square {
    color: #f703d6;
}
.fa-linkedin {
   color: #3b5999;
}
.fa-github-square {
 color: #333;
}