* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background: #e5e5e5;
}
main {
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.formulario__label{
    display: block;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}
.formulario__grupo-input {
    position: relative;
}
.formulario__input {
    width: 100%;
    background: #fff;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}
.formulario__input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}
.formulario__input-error-activo {
    display: block;
}