* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    /* font-family: fatfrank,sans-serif;
    font-weight: 400;
    font-style: normal; */
transition:background-color 1s, color 1s;
    font-family: ivypresto-headline,serif;
font-weight: 400;
font-style: normal; 
font-size: 1.6rem;
background-color: var(--background-color);
color: var(--body-color);
}
:root{
    --title-color: #333;
    --body-color:#696969;
    --background-color:#eee;
    --foreground-color:#fff;
    --blend-mode:normal;
}
.dark-theme {
    --title-color: #fff;
    --body-color:#afafaf;
    --background-color:#181621;
    --foreground-color:#211f2a;
    --blend-mode:light;
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
}
.toggle-btn {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    border: 2px solid var(--body-color);
    border-radius: 15px;
    display: flex;
    cursor: pointer;
    z-index: 9999;
}
.toggle-btn i {
    margin: auto;
    font-size: 2rem;
}
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.content {
    transition: background-color 1s;
   /*  border-radius: 10px; */
    display: flex;
    background-color: var(--foreground-color);
    box-shadow:.5rem .5rem 1rem rgba(0,0,0,.05) 
}
.content-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-image img {
/*  width: 750px;
 height: 550px; */
 width: 100%;
 height: 100%; 
 /* border-radius: 10px;  */
 object-fit: cover;
 mix-blend-mode: var(--blend-mode);
}
.content-text {
    flex: 1;
    padding: 5rem;
}
.title {
    font-family: fatfrank,sans-serif;
    font-weight: bold;
    font-style: normal;
     text-transform: uppercase;
     font-size: 5rem;
     color: var(--title-color);
}
.subtitle {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: .5rem 0 5rem;
    font-family: ivypresto-headline,serif;
    font-weight: 600;
    font-style: normal; 
}
.paragraph:not(:last-child) {
    margin-bottom: 1.5rem;
    font-family: ivypresto-headline,serif;
    font-weight: 400;
    font-style: normal; 
}
.cta {
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--body-color);
    padding: 1rem 2.5rem;
    margin-top: 2.5rem;
    border-radius: 40px;
}
.cta:hover {
    background-color: var(--body-color);
    color: var(--background-color);
}