*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    font-size: 10px;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    display: flex;
}
.container {
    width: 100%;
    max-width: 120rem;
    margin: auto;
    padding: 0 1.5rem;
}
.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.5rem;
     /* grid-template-areas: ; */
} 
.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i {
   /*  color: rgba(255, 255, 255, .6); */
   font-size: 3rem;
   position: relative;
   z-index: 100;
   padding: 1rem 3rem;
   border: 2px solid rgba(255, 255,255,.6);
   border-radius: 5px;
   transition: opacity .5s;
   opacity: 0; 
}
.image-gallery a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0,0,.4);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a:hover i,
.image-gallery a:hover::before {
    opacity: 1;
}
.img-1 {
    grid-area: img-1;
    background-image: url(../img/aud2.jpg);
}
.img-2 {
    grid-area: img-2;
    background-image: url(../img/aud1.jpg);
}
.img-3 {
    grid-area: img-3;
    background-image: url(../img/aud3.jpg);
}
.img-4 {
    grid-area: img-4;
    background-image: url(../img/aud4.jpg);
}
.img-5 {
    grid-area: img-5;
    background-image: url(../img/watch.png);
}
.img-6 {
    grid-area: img-6;
    background-image: url(../img/mateusz-turbinski-d-QzcrgLDaI-unsplash.jpg);
}
.img-7 {
    grid-area: img-7;
    background-image: url(../img/luke-stackpoole-mOEqOtmuPG8-unsplash.jpg);
}
.img-8 {
    grid-area: img-8;
    background-image: url(../img/isaac-castillejos-VOQkzFIkF0Y-unsplash.jpg);
}
.img-9 {
    grid-area: img-9;
    background-image: url(../img/daniel-korpai-pKRNxEguRgM-unsplash.jpg);
}
.img-10 {
    grid-area: img-10;
    background-image: url(../img/city-lit-up-at-night-316902.jpg);
}
.img-11 {
    grid-area: img-11;
    background-image: url(../img/courtney-kammers-Fn5ppkNYTAo-unsplash.jpg);
}
.img-12 {
    grid-area: img-12;
    background-image: url(../img/autumn-goodman-vTL_qy03D1I-unsplash.jpg);
}