* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: komu-a,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
/* 
    font-family: neue-haas-unica,sans-serif;
    font-weight: 700;
    font-style: normal; */
    /* color: #F205CB;
    color: #7C05F2;
    color: #F23827;
    color: #050259; */
}
.container {
    width: 1000px;
    height: 500px;
    background: #050259;
    margin: 120px auto;
    display: flex;
    border-radius: 5px;
}
.col {
    height: 100%;
    flex: 1;
    color: #fff;
    box-sizing: border-box;
    padding: 25px;
    position: relative;
    transition: 0.6s;
}
.col h2 {
    font-family: neue-haas-unica,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.col:nth-child(1) {
    background: #F205CB;
    border-radius: 5px;
}
.col:nth-child(2) {
    background: #7C05F2;
}
.col:nth-child(3) {
   background: #F23827;
}
.caption {
    max-width: 230px;
    font-size: 12px;
    margin: 28px 0;
}
.text {
    font-family: komu-a,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
.caption button {
    border: 1px solid #fff;
    background: transparent;
    outline: none;
    padding: 8px 18px;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
}
.col img {
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.col:hover {
    flex-grow: 2.5;
}
.col:hover .caption {
    display: block;
}
.col:hover h2 {
    text-align: left;
}