* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    overflow: hidden;
    background-color: #22283a;
}
h1 {
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    letter-spacing: 0.125rem;
    color: #fff;
    margin-bottom: 10px;
}
.container {
    width: 100%;
    padding: 0% 2%;
    display: flex;
    box-sizing: border-box;
    height: 80vh;
}
.profile-card {
flex: 1;
overflow: hidden;
transition: 0.5s;
margin: 0 2%;
box-shadow: 0 1.25rem 1.075rem rgba(0, 0, 0, .2);
line-height: 0;
}
.profile-card > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
.profile-card > span {
    font-size: 3vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.5;
    color: #fff;
    text-transform: uppercase;
    border-radius: 10px;
}
.profile-card:hover {
    flex: 1 1 30%;
}
.profile-card:hover > img {
width: 100%;
height: 100%;
}