* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 75%;
}
:root {
    --font1: font-family: halyard-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    --color01: #fff;
    --color02: #333;
    --color03: #614ED9;
    --color04: #010D26;
    --color05: #023373;
    --color06: #A64005;
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}
/* @font-face {
    font-family: tgn-soft-round,sans-serif;
    font-weight: 400;
    font-style: normal;
} */
body {
    width: 100%;
    height: 100vh;
    font-family: halyard-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color1); 
}
.home {
    height: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
}
.Home_info {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.home__header {
    max-width: 356px;
    margin:  82px 0 16px 0;
}
.home__title {
    font-family: halyard-display,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 4.125rem;
    color: var(--color02);
    line-height: 105%;
    margin-bottom: 56px;
}
.home__spacer {
    display: inline-block;
    height: 1px;
    width: 102px;
    background-color: var(--color02);
    margin-bottom: 48px;
}
.home__subtext {
    font-family: tgn-soft-round,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color:var(--color02);
    line-height: 165%;
}
.home__cta {
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--color04);
    border-radius: 10px;
    padding: 15px 48px;
    margin: 1rem;
    background-color: var(--color04);
    color: var(--color01);
    font-size: 1rem;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
 .home__cta:hover {
    background-color: var(--color01);
    color: var(--color04);
} 
.home__cta:focus,
.home__cta:active {
    background-color: var(--color01);
    color: var(--color04);
    outline: 2px solid var(--color05);
}
.home__cards {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 8px
}
.group-one {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
}