* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 75%;
}
:root {
    --font1: font-family: halyard-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    --font2: font-family: tgn-soft-round,sans-serif;
    font-weight: 400;
    font-style: normal;
    --color1: #fff;
    --color2: #333;
    --color3: #614ED9;
    --color4: #010D26;
    --color5: #023373;
    --color6: #A64005;
}
body {
    width: 100%;
    height: 100vh;
    font-family: halyard-display,sans-serif;
    font-weight: 400;
    font-style: normal;
   /*  background-color: var(--color4); */
}
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}