* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
--one-color: #BF05F2;
--two-color: #6805F2;
--three-color: #0F0140;
--four-color: #2405F2;
--five-color: #110273;
}
body {
    /* font-family: halyard-display,sans-serif;
    font-weight: 700;
    font-style: normal; */

    font-family: atten-new,sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--three-color);
}
.hamburger-menu {
    width: 3rem;
  /*   height: 3rem;
    background-color:var(--one-color); */
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 9999;
}
.line {
    display: block;
}
.line::before,
.line::after {
    content: "";
    display: block;
    background-color: var(--one-color);
    height: 4px;
    transition: all .2s;
}
.line::before {
    margin-bottom: 1.6rem;
    box-shadow: 0 1rem 0 #BF05F2;
}
#toggle {
    display: none;
}
#toggle:checked ~ .hamburger-menu .line::before {
box-shadow: 0 0 0 #BF05F2;
transform: translateY(1rem) rotate(45deg);
}
#toggle:checked ~ .hamburger-menu .line::after {
    transform: translateY(-1rem) rotate(-45deg);
    }
    .nav {
        min-height: 100vh;
        background-color: var(--two-color);
        padding: 5rem 2.5rem;
        opacity: 0;
        transform: scale(0);
        transition: opacity .5s;
    }

#toggle:checked ~ .nav {
    opacity: 1;
    transform: scale(1);
}
.nav-item {
    list-style: none;
    line-height: 2;
}
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #BF05F2;
    font-size: 3rem;
    font-weight: bold;
    font-family: halyard-display,sans-serif;
    font-style: normal; 
    position: relative;
}
.nav-link::before {
    content: "";
    background-image: linear-gradient(90deg, rgb(16, 32, 255)6%, rgb(8, 0, 107) 50%);
    width: calc(100% + 2rem);
    height: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left;
    transform: translate(-50%, -50%) scale(0);
    transition: transform .5s;
}
.nav-link:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

@media screen and (min-width: 768px) {
    
}