* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: sophisto,sans-serif;
    font-weight: 400;
    font-style: normal; */

 /* font-family: sophisto,sans-serif;
font-weight: 700;
font-style: italic; */
} 
.hero {
    width: 100%;
    height: 100%;
    display: flex;
}
.left-col {
    flex-basis: 30%;
    height: 100%;
    background-color: #e80707;
}
.right-col {
    flex-basis: 70%;
    height: 100%;
}

