* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

      /* font-family: sophisto,sans-serif;
    font-weight: 400;
    font-style: normal; */

 /* font-family: sophisto,sans-serif;
font-weight: 700;
font-style: italic; */
} 
body {
    font-family: sophisto,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    background-color: #bbaad3;
}
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem;
    z-index: 999;
}
.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 0.5rem;
}
.nav {
width: 100%;
display: flex;
justify-content: space-between;

}
.nav-logo {
    font-size: 3rem;
    font-weight: 800;
    text-decoration: none;
    color: #fff;
}
.nav-list {
    display: flex;
    list-style: none;
    cursor: pointer;
}
.nav-item {
    margin: 0 2.5rem;
    cursor: pointer;
}
.nav-link {
    text-decoration: none;
    font-weight: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    transition: color .5s;
    font-size: 20px;
}
.nav-link:hover {
    color: rgba(255, 255, 255, .5);
}
.shopping-bag i{
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
    transform: translateX(-2rem);
}
.bag-item-count {
    width: 2rem;
    height: 2rem;
    background-color: #7d1eff;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1rem;
    right: -2rem;
  /*   padding: 7px; */
  color: #fff;
}
.hero {
    width: 100%;
    height: 100vh;
    background-color: #2b2b2b;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}
.circle {
    position: absolute;

}
.circle-small {
    top: -15rem;
    left: -21rem;
}
.circle-large {
    bottom: -60rem;
    right: -60rem;
}