* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: sophisto,sans-serif;
    font-weight: 400;
    font-style: normal; */

 /* font-family: sophisto,sans-serif;
font-weight: 700;
font-style: italic; */
} 
body {
     font-family: sophisto,sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #1a1a1a;
    margin: 0px;
}
#glass {
    width: 440px;
    height: 520px;
    background-image: url(../img/autumn-goodman-vTL_qy03D1I-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


