*, *::before, *::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
:root {

    --tipo1: font-family: komu-a,sans-serif;
    font-weight: 400;
    font-style: normal;
    --tipo2: font-family: poster-gothic-excond-atf,sans-serif;
    font-weight: 400;
    font-style: normal;
    --color1: #0540F2;
    --color2: #0583F2;
    --color3: #0D0D0D;
    --color4: #fff;
    --color5: rgb(211, 209, 209);
    --gradient-color: linear-gradient( rgb(#0540F2), rgb(#0D0D0D));
}

html {
    font-size: 10px;
}
body {
    width: 100%;
    height: 100vh;
    font: var(--tipo2);
    margin: 0;
    background-color: var(--color5);
}
#main-menu {
position: fixed;
text-align: center;
/* margin-top: 10px; */
padding: 10px 10px;
background-color: #0D0D0D;
width: 100%;
height: 7rem;
}
nav a {
    color: var(--color4);
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
   /*  background-color:var(--color1);
    border-radius: 10px; */
    /* font: var(--tipo1); */
}
nav a:hover {
    background-color: var(--color4);
    color: var(--color3);
    border-radius: 5px;
}
nav a.active {
    background: var(--color2);
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    padding: 10px 15px;
}
section {
    width: 100%;
    margin: 0;
    padding: 100px;
}
#sectional {
    background-image: url(../img/city-lit-up-at-night-316902.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
#sectiona2 {
    background-image: url(../img/andrae-ricketts-0_la3_Slfwk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

}
#sectiona3 {
    background-image: url(../img/space.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

}
#sectiona4 {
    background-image: url(../img/water.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;

}
#sectiona5 {
    background-image: url(../img/autumn-goodman-vTL_qy03D1I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;

}
p {
    width: 40%;
    color: var(--color4);
}