* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root {
    --color-primario: #D95284;
    --color-secundario: #044BD9;
    --color-terciario: #F27E63;
    --color-base: #fff;
    --color-base2: #333;
}
body {
    width: 100%;
    height: 100vh;
    font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
}
section {
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4rem;
}
section h2 {
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: .5rem;
}
section p {
/*     font-weight: 300; */
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}
section a{
    display: inline-block;
    padding: .8rem 0;
    text-decoration: none;
    color: var(--color-base);
    text-align: center;
    border: .1rem solid #fff;
    border-radius: 5rem;
    width: 10rem;
    font-size: 1.6rem;
    /* background-color: rgb(167, 164, 164); */
}
section img {
    height: 60%;
    object-fit: cover;
}
section:nth-child(1){
/* background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%); */
background-image: linear-gradient(to top, #667eea 0%, #764ba2 100%);
}
section:nth-child(2){
   /*  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); */
    background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%); 
}
section:nth-child(3) {
    background-image: linear-gradient(to top, #a8edea 0%, #5ee7df);
}
