* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 10px;
    font-family: mentone,sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    /* font-family: ysans-std-mondrian,sans-serif;
    font-weight: 400;
    font-style: normal; */
}
header {
    width: 100%;
    /* height: 100vh; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.main-nav {
    width: 100%;
    height: 10rem;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a {
    font-family: ysans-std-mondrian,sans-serif;
    font-weight: 700;
    font-style: bold; 
    font-size: 2.5rem;
    text-decoration: none;
   /*  color: #fff; */
   text-transform: uppercase;
   letter-spacing: 1px;
   cursor: pointer;
   outline: 2px solid #eee;
   padding: 1rem 2rem;
}
.hamburger-menu {
    height: 5rem;
    width: 5rem;
    background-color: #eee;
    border-radius: .4rem;
    box-shadow: 
                .5rem .5rem 1rem #cacaca,
                -.5rem -.5rem 1rem #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;            
    z-index: 2000;
}
.hamburger-menu:hover {
    box-shadow: 
            inset .5rem .5rem 1rem #cacaca,
              inset -.5rem -.5rem 1rem #fff;
}
.bar {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
    position: relative;
    transition: background-color .5s;
}
.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #333;
    transition: all .5s;
}
.bar::before {
    top: -.8rem;
}
.bar::after {
    top: .8rem;
}
.open .bar {
 background-color: transparent; 
}
.open .bar::before{
    top: 0;
    transform: rotate(135deg);
}
.open .bar::after {
    top: 0;
    transform: rotate(-135deg);
}
.nav-list {
    width: 50rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: -1rem 0 1rem rgba(0, 0, 0, .1);
    z-index: 1500;
    transform: translateX(55rem);
    transition: transform .5s;
}
.open .nav-list {
    transform: translateX(0);
}
.nav-item {
    list-style: none;
    border-bottom: 2px solid crimson;
}
.nav-link {
text-decoration: none;
font-size: 1.5rem;
font-family: mentone,sans-serif;
font-weight: 700;
 font-style: normal;
 display: block;
 color: #333;
 text-transform: uppercase;
 padding: .5rem;
 transition: color .5s;
}
.nav-link:hover {
    color: crimson;
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/mateusz-turbinski-d-QzcrgLDaI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
