*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
    font-family: mentone,sans-serif;
    font-weight: 400;
    font-style: normal;

    /* font-family: fairway,sans-serif;
    font-weight: 700;
    font-style: normal; */
    font-size: 10px;
}
body {
    background: rgb(39, 38, 38);
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}
.container {
   width: 100%;
   max-width: 120rem;
   margin: 0 auto;
   padding: 0 1.5rem;
}
.nav {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, .05);
}
.nav a {
    text-decoration: none;
    list-style: none;
    color: #fff;
    font-size: 1.6rem;
}
.nav .logo {
    font-size: 3.5rem;
    font-family: fairway,sans-serif;
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
} 
.nav-list {
    list-style: none;
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
}
.nav-link {
    margin: 0 2rem;
position: relative;
}
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}
.nav-link:hover::after {
    transform: scaleX(1);
}
#nav-cta {
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color .5s ease;
}
#nav-cta:hover {
    background-color: #747474;
    color: #fff;
}

/* scroll style  */
.scrolling-active {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
.scrolling-active .nav {
    height: 6.5rem;
}

/* Hero Apply */
.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/andrae-ricketts-0_la3_Slfwk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: .2;
}