* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(../img/autumn-goodman-vTL_qy03D1I-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav {
    position: fixed;
    width: 100%;
}
nav ul {
    list-style: none;
    text-decoration: none;
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}
nav .black ul {
    background: #000;
}
nav ul li {
    display: inline-block;
    padding: 30px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 34px;
}
.content {
    width: 100%;
    margin: 4rem auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}