* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: mentone,sans-serif;
font-weight: 400;
font-style: normal; 

/* font-family: mentone,sans-serif;
font-weight: 700;
font-style: normal; */
background-color: #161616;
}
#main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
}
.logo {
    text-decoration: none;
 font-family: mentone,sans-serif;
font-weight: bold;
font-style: normal; 
font-size: 30px;
color: rgba(0, 0,0, 0.5);
}
.lang {
    text-decoration: none;
 font-family: mentone,sans-serif;
font-weight: 700;
font-style: normal; 
font-size: 20px;
color: rgba(0, 0,0, 0.5);
}
nav{
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 2px;
position: fixed;
top: 0;
left: 0;
box-sizing: border-box;
padding: 10px 50px;
background-color: #f4f7ff;
box-shadow: 2px 2px 12px rgba(0, 0,0, 0.5);
z-index: 1;
cursor: pointer;
}
.menu {
    display: flex;
}
.menu li a {
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.menu li a:hover,
.active {
    background-color: rgba(0, 0,0, 0.5);
    color: #fff;
    transition: all ease 0.4s;
    font-weight: 700;
    border-radius: 5px;
}
nav ul {
    list-style: none;
}
nav ul li a {
    list-style: none;
    text-decoration: none;
}