* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 75%;
}
:root {
    --font1: font-family: halyard-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    --font2: font-family: tgn-soft-round,sans-serif;
    font-weight: 400;
    font-style: normal;
    --color1: #fff;
    --color2: #333;
    
}