* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --font1: font-family: neue-haas-unica,sans-serif;
    font-weight: 400;
    font-style: normal;
    --color1:#009FE5 ;
    --color2: #33BBEA;
    --color3:  #CCECFA;
    --color4: #fff;
    --color5:#0D0D0D;
    --color001:#FC046D;
    --color002:#F2CE5F;
    --color003:#28013D;
    --color004: #AB05F2;
    --color005: #7D07F2;
    
    }
    html {
        font-size: 10px;
    }
    body {
     width: 100%;
     height: 100vh;
     font-family: var(--font1);
     background-image: url(../img/undraw_mobile_images_rc0q.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     overflow: hidden;
    }
    ul {
        list-style: none;
    }
    ul li a {
        text-decoration: none;
    }
    /* .overlay {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: var(--color002);
        top: 0%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .overlay h1 {
        font-size: 100px;
        letter-spacing: 20px;
        font-size: var(--font1);
    }
    .overlay span {
        font-size: 60px;
        letter-spacing: 3px;
    } */
    .nav {
        width: 200px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .logo {
        flex: 0 0 50%;
        background: var(--color002);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
    }
    .logo h1 {
        font-family: var(--font1);
        text-transform: uppercase;
        font-size: 16px;
        line-height: 2;
    }
    .logo span {
        font-size: 40px;
        line-height: 1;
    }
    .menu-links {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        padding-top: 50px; ;
    }
    .menu-links ul  {
        width: 100%;
    }
    .menu-links ul li a {
        padding: 10px;
        color: var(--color002);
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
    .menu-links ul li a:hover {
      color: var(--color4);
    }
    .scrolldown {
        flex: 1;
        display: flex;
        justify-content: center;
        transform: rotate(-90deg);
    }
    .scrolldown::before {
        display: inline-block;
        content: "";
        border-top: 
        1px solid var(--color5);
        margin: 0 10px 0 0;
        transform: translateY(10px);
    }
    .text {
        position: absolute;
        top: 25%;
        right: 180px;
        transform: translateY(-50%);
        text-align: right;
        color: var(--color4);
    }
    .text .title {
        font-size: 100px;
    }
    .watchnow {
        position: absolute;
        top: 60%;
        right: 0;
        transform: translateY(-50%);
        background: var(--color004);
        padding: 30px 100px 30px 30px;
    }
    .watchnow a {
        text-decoration: none;
        color: var(--color4);
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 3px solid #AB05F2;
        padding-bottom: 5px;
    }
    .fa-play {
        color: var(--color4);
        font-size: 30px;
        margin-right: 20px;
        cursor: pointer;
    }
    .media {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 20px;
    }
    .media ul li {
        display: inline-block;
        padding: 20px;
        font-size: 30px;
        color: var(--color004);
        cursor: pointer;
        border-radius: 50%;
    }
    .media ul li:hover {
        background-color: var(--color002);
    }
    .ellipse-container {
        width: 608px;
        height: 608px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        margin: 0 auto;
        z-index: -1;
    }
    .elipse {
        position: absolute;
        top: 0;
        border-radius: 50%;
        border-style: solid;
    }
    .elipse.thin {
        width: 100%;
        height: 100%;
        border-width: 1px;
        border-color: #F2CE5F;
        opacity: .5;
    }

