* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
    --color1: #fff;
    --color2: #000;
    --color3: #AB05F2;
    --color4: #23D9B7;
    --color5: #D7F205;
    --color6: #3B5999;
    --color7: #46c1f6;
    --color8: #e1306c;
    --color9: #DE463B;
    --color10: #333;
    --font1: font-family: halyard-display,sans-serif;
    font-weight: 400;
    font-style: normal;
}
html,body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #fff, #AB05F2);
}
.wrapper {
    display: inline-flex;
}
.wrapper .icon {
    margin: 0 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55, 0.265,1.55);
}
.wrapper .icon span {
    height: 60px;
    width: 60px;
    display: block;
    background: var(--color1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}
.wrapper .icon span i {
    font-size: 25px;
    line-height: 60px;
}
.wrapper .icon:hover  {
    color: var(--color1);
}
.wrapper  .icon .tooltip {
    background: var(--color1);
    font-size: 20px;
    padding: 10px 18px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    position: absolute;
    top: 0px;
    opacity: 0;
    pointer-events: none;
    color: var(--color1);
    transition: all 0.4s cubic-bezier(0.68,-0.55, 0.265,1.55);
}
.wrapper .icon:hover .tooltip {
    opacity: 1;
    pointer-events: none;
    top: -70px;
}
.wrapper .icon .tooltip::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: var(--color1);
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook .tooltip::before {
    background: #3B5999;
    color: var(--color1);
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter .tooltip::before {
    background: #46c1f6;
    color: var(--color1);
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram .tooltip::before {
    background: #e1306c;
    color: var(--color1);
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github .tooltip::before {
    background: #333;
    color: var(--color1);
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube .tooltip::before {
    background: #DE463B;
    color: var(--color1);
}