* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root {
    --color1: #fff;
    --color2: #000;
    --color3: #AB05F2;
    --color4: #23D9B7;
    --color5: #D7F205;
    --font1: font-family: halyard-display,sans-serif;
    font-weight: 400;
    font-style: normal;
}
html,body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient(315deg, #fff, #23D9B7);
}