* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background-image: url(../img/city-lit-up-at-night-316902.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     width: 100%; 
     height: 100vh; 
 /*  overflow: hidden;  */
}
nav {
    position: absolute;
    top: 50%;
    left: 25%;
    background-color: rgba(255, 255,255, .199);
    border-radius: 1rem;
    width: 60vw;

}
nav li {
    list-style: none;
    display: inline-block;
    margin: 30px 10px;
}
nav li a {
    color: #fff;
    position: relative;
    margin: 15px 25px;
    display: inline-block;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    font-size: 1.35rem;
    cursor: pointer;
}
nav i a:hover {
    outline: none;
}
 a::before,
 a::after {
    top: 50%;
    left: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 2px solid #fff;
    border-radius: 50%;
    content: "";
    opacity: 0;
    transition: transform .3s opacity .3s;
    transform: translateX(-50) translateY(-50) scale(.2);
}
a::after {
    width: 80px;
    height: 80px;
    border-radius: 6px;
    transform: translateX(-50) translateY(-50) scale(.8);
}
a:hover::before,
a:hover::after {
    opacity: 1;
    transform: translateX(-50) translateY(-50) scale(1);
}