* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f6df1d;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.container {
    color: #e90063;
    font-size: 2.8rem;
}